@using Newtonsoft.Json
@{
	var data = Context.Session.GetString("cart");
	int count = 0;
	if (data == null)
	{
		count = 0;
	}
	else
	{
		//var data2 = Context.Session.GetString("cart");
		List<Cart> CartData = JsonConvert.DeserializeObject<List<Cart>>(data);
		foreach (var item in CartData)
		{
			count += item.Quantity;
		}
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - _1670_Book</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/_1670_Book.styles.css" asp-append-version="true" />
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" asp-append-version="true" />
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" asp-append-version="true"/>
</head>

<body>
	<header>
		@if (User.Identity.IsAuthenticated)
		{
			if (User.IsInRole("Admin"))
			{
				<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
				  <!-- Admin navigation links -->
				  <div class="container-fluid">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index" title="ADMIN">BookShop <span class="lead">Admin</span></a>

				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			  <ul class="navbar-nav flex-grow-1">

			<li class="nav-item">
			  <a class="nav-link text-dark" asp-controller="Books" asp-action="Index">Book</a>
			</li>                             

								<li class="nav-item">
  <a class="nav-link text-dark" asp-controller="Categories" asp-action="Index">Category</a>
</li>

<li class="nav-item">
  <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Order</a>
	</li>
 </ul>
	</div>
<!-- Add your admin navigation links here -->
<partial name="_LoginPartial" />
</div>
</nav>

			}
			else
			{
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
 <!-- Regular user navigation links -->
  <div class="container-fluid">
	 <a class="navbar-brand" asp-controller="AdminBook" asp-action="Index" class = "logo"><i class="fas fa-book"></i> Book Store</a>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
  <ul class="navbar-nav flex-grow-1">
<li class="nav-item">
  <a class="nav-link text-dark" asp-controller="AdminBook" asp-action="Index">Store</a>
	</li>
<li class="nav-item">
  <a class="nav-link" asp-controller="Order" asp-action="Index">Order</a>
	</li>
	<li class="nav-item">
   <a class="nav-link" asp-controller="AdminBook" asp-action="ListCart" style="background:lightblue">Cart @count</a>
	</li>
	 </ul>
</div>
	<!-- Add your regular user navigation links here -->
	<partial name="_LoginPartial" />
	  </div>
			</nav>

			}
		}
		else
		{
 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<!-- Guest navigation links -->
	<div class="container-fluid">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index" class = "logo"><i class="fas fa-book"></i> Book</a>
  <!-- Add your guest navigation links here -->
  <partial name="_LoginPartial" />
</div>
  </nav>

		}
		<style>
			.navbar-brand {
			font-size: 2rem;
			}           


		</style>

  </header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - _1670_Book - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>	
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
